body {
    font-family: 'Inter', sans-serif;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -16px;
    margin-right: -16px;
  }
  .col {
    flex: none;
  }
  .github:hover {
    color: #FFF;
  }
  .twitter {
    color: #00b6f1;
  }
  .discord {
    color: #7289DA;
  }
  .fontawesome:hover {
        color: #339af0;
    }
  .twitter2:hover {
    color: #00b6f1;
  }
  .discord2:hover {
    color: #7289DA;
  }
  .animate-spin {
    animation: spin 2s linear infinite;

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
  }
  .socialbtn:hover {
  transform: translate(0px, -3px);
  animation-name: headsup;
  animation-duration: 0.3s;
  }
  img {
    pointer-events: none;
  }
      /* width */
      ::-webkit-scrollbar {
    width: 10px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
    background: #0A0F16;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
    background: #0E141D;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
    background: #0E141D;
    }